@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;

}

.container{
    max-width: 1100px;
    margin: 0 auto;
}



.header{
    background-image: url(sillones-barberias.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}
.logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
.menu .navbar ul li {
    position: relative;
    float: left;


}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover {
    color: #e67e22;
}
#menu {
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-txt{
    text-align: center;
}
.header-txt h1{
    font-size: 85px;
    color: #fffdfc;
    text-transform: uppercase;
    margin-bottom: 20px;

}
.header-txt p{
    color: #bebebe;
    /*Tamaño de la letra*/
    font-size: 16px;
    /*Alto y ancho del texto (el 0 es q ocupa toda la caja)*/
    padding: 0 250px;
    margin-bottom: 45px;
}
.btn-1{
    /*Tipo de display*/
    display: inline-block;
    /*Alto y luego ancho del boton*/
    padding: 12px 45px;
    /*Grosor del borde del boton*/
    border: 1px solid #fffdfc;
    /*Color del boton*/
    color:#fffdfc;
    /*Tamaño de la letra*/
    font-size: 16px;
    /*Letras MAYUSCULAS*/
    text-transform: uppercase;
    /*Grosor de las letras*/
    font-weight: 600;
}
.btn-1:hover{
    /*Color del Texto*/
    color: #1b293a;
    /*Color del fondo*/
    background-color: #fffdfc;
}
/*----------------------------------------------------------------
-------------------------------------------------------------------*/
.general{
    padding: 50px 0;
    /*Alinea el texto */
    text-align: center;

}
/*Este general ubica la informacion como cuadrados ordenados horizontalmente*/
.general-content{
    /*Alinea Horizontalmente, el block alinea verticalmente */
    display: flex;
    /*Deja separacion entre los contenidos*/
    justify-content: space-between;
    /*margen de arriba*/
    margin-top: 50px;
}
.general1-1{
    background-image: url(r1.png);
    /*Centra la imagen dentro del div */
    background-position: center center;
    /*No se repita la fotografia */
    background-repeat: no-repeat;
    /*Asigna nuevos valores a una imagen,la centra*/
    background-size: cover;
    /*Alto de la imagen */
    height: 450px;
    /*Alinea el texto dentro de la imagen */
    padding: 170px 55px;
    
}
.general1-2{
    background-image: url(r2.png);
    /*Centra la imagen dentro del div */
    background-position: center center;
    /*No se repita la fotografia */
    background-repeat: no-repeat;
    /*Asigna nuevos valores a una imagen,la centra*/
    background-size: cover;
    /*Alto de la imagen */
    height: 450px;
    /*Alinea el texto dentro de la imagen */
    padding: 170px 55px;
    
}
.general1-3{
    background-image: url(r3.png);
    /*Centra la imagen dentro del div */
    background-position: center center;
    /*No se repita la fotografia */
    background-repeat: no-repeat;
    /*Asigna nuevos valores a una imagen,la centra*/
    background-size: cover;
    /*Alto de la imagen */
    height: 450px;
    /*Alinea el texto dentro de la imagen */
    padding: 170px 55px;
    
}
.general1-4{
    background-image: url(r4.png);
    /*Centra la imagen dentro del div */
    background-position: center center;
    /*No se repita la fotografia */
    background-repeat: no-repeat;
    /*Asigna nuevos valores a una imagen,la centra*/
    background-size: cover;
    /*Alto de la imagen */
    height: 450px;
    /*Alinea el texto dentro de la imagen */
    padding: 170px 55px;
    
}
.general1-5{
    background-image: url(r5.png);
    /*Centra la imagen dentro del div */
    background-position: center center;
    /*No se repita la fotografia */
    background-repeat: no-repeat;
    /*Asigna nuevos valores a una imagen,la centra*/
    background-size: cover;
    /*Alto de la imagen */
    height: 450px;
    /*Alinea el texto dentro de la imagen */
    padding: 170px 55px;
    
}
.general1-6{
    background-image: url(r6.png);
    /*Centra la imagen dentro del div */
    background-position: center center;
    /*No se repita la fotografia */
    background-repeat: no-repeat;
    /*Asigna nuevos valores a una imagen,la centra*/
    background-size: cover;
    /*Alto de la imagen */
    height: 450px;
    /*Alinea el texto dentro de la imagen */
    padding: 170px 55px;
    
}

/*----------------------------------------------------------------
-------------------------------------------------------------------*/




h2{
    /*Tamaño de los subtitulos*/
    font-size: 50px;
    /*Transforma los textos a letra MAYUSCULA*/
    text-transform: uppercase;
    /*Color del texto*/
    color: #1b293a;
}
.txt h3{
    /*Tamaño de la letra*/
    font-size: 18px;
    /*Color de la letra*/
    color: #fffdfc;
    /*Transforma a MAYUSCULAS*/
    text-transform: uppercase;
    /*Margen desde el texto hacia abajo*/
    margin-bottom: 10px;
}
.txt p{
    /*Color de la letra*/
    color: #ebebeb;
    /*Tamaño de la letra*/
    font-size: 16px;
    

}
/*Modificamos la imagen de fondo del contenedor de informacion*/
.info-1{
    /*Separacion de arriba (250) y izquierda (0)*/
    padding: 250px 0;
    /*imagen de fondo*/
    background-image: url(bg2.png);
    /*Posicion de la imagen*/
    background-position: center;
    /*Para que la imagen no se repita*/
    background-repeat: no-repeat;
    /*Ancho y Alto que va a ocupar dentro del div info*/
    background-size: 100% 100%;

}
/*Centramos la informacion de los contenedores*/
.info-content{
    /*Centra el contenido*/
    text-align: center;
}
/*Color de la letra de los contenedores de informacion*/
.info-content h2, span{
    color: #fffdfc;

}
/*Modificamos la informacion del circulo*/
.info-circle{
    /*Alinea Horizontalmente*/
    display: flex;
    /*Deja separacion entre los contenidos*/
    justify-content: space-between;
    /*Margen de arriba*/
    margin-top: 45px;

}
/*Modificamos los textos del circulo*/
.circulo-txt{
    /*Cuanto ocupa de ancho*/
    width: 25%;
    /*Alinea Horizontalmente*/
    display: flex;
    /*Direccion del alineamiento*/
    flex-direction: column;
    /*Alineacion de los items*/
    align-items: center;
    /*Alineacion del texto*/
    text-align: center;
    /*Margenes */
    margin: 0 10px;

}
/*Modificamos los circulos*/
.circle-1{
    /*Margenes izquierdos*/
    margin-left: auto;
    /*Margenes derechos*/
    margin-right: auto;
    /*Alto del circulo*/
    height: 100px;
    /*Ancho del circulo*/
    width: 100px;
    /*Ancho del circulo, color solido y color del mismo*/
    border: 1px solid #fffdfc;
    /*Borde del radio*/
    border-radius: 50%;
    /*Separacion de arriba de las palabras*/
    padding-top: 35px;
}
/*Modificamos la letra de los circulos en especifico*/
.circle-1 h3{
    /*Color de la letra*/
    color: #bebebe;
    /*Tamaño de la letra*/
    font-size: 16px;
}
/*Modificamos las letras de los parrafos*/
.circle-txt p{
    color: #fffdfc;
    margin-top: 25px;

}
/*Modificamos la foto de fondo del contenedor info-2*/
.info-2{
    /*Separacion de arriba y izquierda igual que en info-1*/
    padding: 250px 0;
    /*Imagen de fondo a poner*/
    background-image: url(bg3.png);
    /*Centrado de la imagen en todos lados*/
    background-position: center center;
    /*Para que la imagen no se repita*/
    background-repeat: no-repeat;
    /*Ancho y alto que ocupa dentro del div info-2*/
    background-size: 100% 100%;

}
/*Modificamos lo que hay dentro del div*/
.testi{
    /*Alineacion horizontal*/
    display: flex;
    /*Alineacion de los items*/
    align-items: center;
    /*Alineacion a la izquierda de los textos*/
    text-align: left;
    /*Margen de arriba*/
    margin-top: 35px;
}
/*Modificamos el testimonio de la izquierda*/
.testi-left{
    /*Establecemos el ancho de la imagen*/
    width: 50%;
    /*Establecemos la separacion de la derecha*/
    padding-right: 25px;

}
/*Modificamos el testimonio de la derecha*/
.testi-right{
    /*Ancho del testimonio*/
    width: 50%;
    /*Margen de la derecha*/
    padding-left: 35px;
    
}
/*Margen de arriba*/
.testi-txt{
    /*Margen de abajo de el texto*/
    margin-bottom: 25px;
}
/*Modificamos la imagen de cada testimonio*/
.testi-txt img{
    /*Establecemos el ancho de la imagen*/
    width: 50px;
    /*Margen de abajo de la imagen*/
    margin-bottom: 15px;
}
/*Modificamos el titulo h3 de los testimonios*/
.testi-txt h3{
    /*Tamaño de letra*/
    font-size: 20px;
    /*Color de letra*/
    color: #fffdfc;

}
.testi-txt p{
    /*Color de letra*/
    color: #bebebe;
    /*Tamaño de letra*/
    font-size: 16px;
}
.footer{
    /*100px hacia arriba (separacion) 0 hacia abajo 0 derecha y 0 izquierda*/
    padding: 100px 0 0 0;
    /*Alineacion del texto*/
    text-align: center;

}
/*Modificamos el form del */
.form{
    /*Margen de arriba*/
    margin-top: 35px;

}
/*Modificamos el campo donde se introduce el texto*/
.campo{
    /*Margen de la derecha*/
    margin-right: 10px;
    /*17px arriba y abajo 35px izquierda y derecha (separacion)*/
    padding: 17px 35px ;
    /*Borde del campo de texto*/
    border: 2px solid #b4b4b4;
    /*Al escribir el campo de texto no se pondra mas oscuro (efecto por defalut que viene)*/
    outline: none;
    color: #1b293a;
}
/*Modificamos el color de las letras que estan dentro del campo de texto*/
.campo::placeholder{
    color: #b4b4b4;
}
/*Modificamos el */
.footer-txt{
    text-align: center;
    /*Margen superior*/
    margin-top: 100px;
    /*Borde de arriba*/
    border-top: 1px solid #b4b4b47e;
    /*Separacion de arriba y abajo y izquierda y derecha*/
    padding: 20px 0;
}
/*Modificamos el parrafo del div de abajo de la pantalla*/
.footer-txt p{
    /*Color de la letra del parrafo*/
    color: #1b293a;
    /*Tamaño de la letra*/
    font-size: 16px;
}


/*Aqui ubicamos los parametros para un smartphone*/
@media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1b293a;
        display: none;

    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        min-height: 0vh;

    }
    .header-content{
        padding: 100px 30px;

    }
    .header-txt h1{
        font-size: 50px;

    }
    .header-txt p{
        padding: 0;
    }

    v
    .general1-1,
    .general1-2,
    .general1-3,
    .general1-4,
    .general1-5,
    .general1-6{
        height: 350px;
        padding: 100px 30px ;
        margin-bottom: 10px;
    }
   .info-1{
    padding: 200px 30px;
    background-size: cover;
    margin-top: -110px;
    margin-bottom: 100px;
   }

   .info-circle{
    flex-direction: column;
    align-items: center;
   }
   .circle-txt{
    width: 100%;
    margin-bottom: 25px;
   }
   .g2{
    margin-top: -120px;
   }
   .info-2{
    padding: 280px 30px;
    background-size: cover;
    margin-top: -180px;

   }
   .testi{
    flex-direction: column;

   }
   .testi-left{
    width: 100%;
    padding-right: 0;
   }
   .testi-right{
    width: 100%;
    padding-left: 0;
   }
   h2{
    font-size: 40px;
   }
   .footer h2{
    margin-top: 100px;
   }
   .footer{
    padding: 0;
    margin-top: -140px;
   }
   form{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
   }
   .campo{
    margin: 0 0 10px 0;
   }
   .footer-txt{
    margin-top: 30px;
    text-align: center;
   }
   .style{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
   .table {
    margin-top: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
p{
    margin-left: 40px;
    margin-right: 40px;
}

}